-- Per-event seating room dimensions (meters) for the floor planner canvas

alter table public.events
  add column if not exists seating_room_width_m numeric(6, 2) not null default 30,
  add column if not exists seating_room_height_m numeric(6, 2) not null default 24;

alter table public.events
  drop constraint if exists events_seating_room_width_m_range;

alter table public.events
  add constraint events_seating_room_width_m_range
  check (seating_room_width_m >= 5 and seating_room_width_m <= 100);

alter table public.events
  drop constraint if exists events_seating_room_height_m_range;

alter table public.events
  add constraint events_seating_room_height_m_range
  check (seating_room_height_m >= 5 and seating_room_height_m <= 100);

comment on column public.events.seating_room_width_m is 'Seating planner room width in meters';
comment on column public.events.seating_room_height_m is 'Seating planner room height in meters';
