-- RPC to update seating room dimensions (bypasses events RLS for collaborators with seating access)

CREATE OR REPLACE FUNCTION public.update_seating_room_size(
  p_event_id uuid,
  p_width_m numeric,
  p_height_m numeric
)
RETURNS TABLE (
  width_m numeric,
  height_m numeric
)
LANGUAGE plpgsql
SECURITY DEFINER
SET search_path = public
AS $$
BEGIN
  IF NOT public.user_can_edit_with_roles(
    p_event_id,
    ARRAY['owner', 'editor', 'contributor']
  ) THEN
    RAISE EXCEPTION 'permission_denied' USING ERRCODE = '42501';
  END IF;

  IF p_width_m < 5 OR p_width_m > 100 OR p_height_m < 5 OR p_height_m > 100 THEN
    RAISE EXCEPTION 'invalid_dimensions' USING ERRCODE = '22023';
  END IF;

  UPDATE public.events
  SET
    seating_room_width_m = p_width_m,
    seating_room_height_m = p_height_m,
    updated_at = now()
  WHERE id = p_event_id;

  RETURN QUERY
  SELECT e.seating_room_width_m, e.seating_room_height_m
  FROM public.events e
  WHERE e.id = p_event_id;
END;
$$;

GRANT EXECUTE ON FUNCTION public.update_seating_room_size(uuid, numeric, numeric) TO authenticated;
